<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            photoCover="https://www.mundodeportivo.com/alfabeta/hero/2024/08/iron-man-thanos-vengadores-endgame-ucm.jpg?width=768&aspect_ratio=16:9&format=nowebp"
            cardTitle="NOVO HOMEM DE FERRO EM 3D"
            cardDescription="Marvel anuncia novo homem de ferro">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            cardTitle="Nova série anunciada no Disney Plus +"
            photoCover="https://i.ytimg.com/vi/AFEaeuyOUBw/maxresdefault.jpg">
        </app-small-card>
        <app-small-card
            cardTitle="Novo Filme dos X-men"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuNpoUFGpEB6Kc_vUET6Tg0fDFyS5xa8KIUw&s">
        </app-small-card>
        <app-small-card
            cardTitle="Novo Filme da Pantera Negra"
            photoCover="https://img.freepik.com/vetores-gratis/logotipo-da-pantera-em-gradiente-colorido_52683-78718.jpg">
        </app-small-card>
    </div>
</div>